/* line 8, ../sass/HomeDialogView.scss */
.HomeDialogView .sep {
  font-size: 9px;
  font-weight: 400;
  display: table;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  text-transform: uppercase;
  pointer-events: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #999999;
  clear: both;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 29, ../sass/HomeDialogView.scss */
.HomeDialogView .sep:before, .HomeDialogView .sep:after {
  content: "";
  display: table-cell;
  border-bottom: 1px solid transparent;
  width: 50%;
  padding-top: 15px;
}
/* line 37, ../sass/HomeDialogView.scss */
.HomeDialogView .sep:before {
  -moz-transform: translateY(-50%) translateX(-10px) scale(1, 0.5);
  -ms-transform: translateY(-50%) translateX(-10px) scale(1, 0.5);
  -webkit-transform: translateY(-50%) translateX(-10px) scale(1, 0.5);
  transform: translateY(-50%) translateX(-10px) scale(1, 0.5);
}
/* line 40, ../sass/HomeDialogView.scss */
.HomeDialogView .sep:after {
  -moz-transform: translateY(-50%) translateX(10px) scale(1, 0.5);
  -ms-transform: translateY(-50%) translateX(10px) scale(1, 0.5);
  -webkit-transform: translateY(-50%) translateX(10px) scale(1, 0.5);
  transform: translateY(-50%) translateX(10px) scale(1, 0.5);
}
