/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/ui/icons.scss */
.icon {
  width: 20px;
  height: 20px;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 14, ../sass/ui/icons.scss */
.icon-menu {
  background-image: url("/img/icon-menu.svg");
}

/* line 18, ../sass/ui/icons.scss */
.icon-conversation {
  background-image: url("/img/icon-conversation.svg");
}

/* line 22, ../sass/ui/icons.scss */
.icon-dashboard {
  background-image: url("/img/icon-dashboard.svg");
}

/* line 9, ../sass/main.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../sass/main.scss */
html {
  background: #333;
}

/* line 15, ../sass/main.scss */
body {
  color: #333;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin-left: -180px;
  margin-top: -275px;
  z-index: 2;
  width: 360px;
  height: 550px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  /* line 15, ../sass/main.scss */
  body {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
/* line 38, ../sass/main.scss */
body.preload {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 42, ../sass/main.scss */
* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

/* line 46, ../sass/main.scss */
::-webkit-scrollbar {
  display: none;
}

/* line 53, ../sass/main.scss */
input[type="text"] {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
}

/* line 65, ../sass/main.scss */
button {
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-family: inherit;
  font-weight: 400;
  background: transparent;
}

/* line 90, ../sass/main.scss */
.mainView {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
/* line 98, ../sass/main.scss */
.mainView .mainViewContent {
  padding: 20px;
  background: white;
}
/* line 104, ../sass/main.scss */
.mainView.withNavBarView {
  padding-top: 200px;
}
/* line 111, ../sass/main.scss */
.mainView.in {
  opacity: 1;
}
/* line 113, ../sass/main.scss */
.mainView.in .mainViewContent {
  background: white;
}

/* line 119, ../sass/main.scss */
.modal {
  position: absolute;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: red;
  -moz-transition: all 0.3s ease-in-out 0.3s;
  -o-transition: all 0.3s ease-in-out 0.3s;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}
/* line 126, ../sass/main.scss */
.modal.in {
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -webkit-transform: scale(80);
  transform: scale(80);
}
