////////////////////////////////////////////////////////////////////
// Paths
////////////////////////////////////////////////////////////////////
$imgs: "/img/";


////////////////////////////////////////////////////////////////////
// Sizes 
////////////////////////////////////////////////////////////////////
$appW: 360px;
$appH: 550px;
$mainMargins: 30px;

$NavBarViewHeight: 50px;
$NavBarViewHeightExpanded: 200px; 
$NavBarViewIconSize: 30px;   
$UserPromptViewHeight: 50px;
$mobileQuerySize: 700px;


////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$gray1: #eff2ec;
$gray2: #eeeded;
$gray6: #333;
$purple2: #6563a4;
$purple3: #5f5d9a; 
$purple4: #7a4364;
$green2: #6dd5c9;
$blue3: #00bcd4;
// UI
$NavBarViewColor: $purple3;
$mainBGColor: white;

////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////
$font: 'Roboto', sans-serif;
$fontWeightLight: 300;
$fontWeightMed: 400;
$fontWeightBold: 700;


////////////////////////////////////////////////////////////////////
// Helpers
////////////////////////////////////////////////////////////////////
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin size($w, $h){
	width: $w;
	height: $h;
}

@mixin sq($s){
	@include size($s, $s);
}