////////////////////////////////////////////////////////////////////
// Sizes
////////////////////////////////////////////////////////////////////
$appW: 360px;
$appH: 550px;
$NavBarViewHeight: 40px;
$mobileQuerySize: 700px;


////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////

$gray1: #eff2ec;
$gray2: #bdbdbd;
$gray6: #333;
$purple3: #ad588e; 


// UI
$NavBarViewColor: $purple3;

////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////
$font: 'Raleway', sans-serif;


////////////////////////////////////////////////////////////////////
// Helpers
////////////////////////////////////////////////////////////////////

@mixin size($w, $h){
	width: $w;
	height: $h;
}

@mixin sq($s){
	@include size($s, $s);
}