/* line 7, ../../sass/ui/CardItemView.scss */
.CardItemView {
  text-align: center;
  font-weight: 400;
  background: #eeeded;
  font-size: 13px;
  padding: 20px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 0 #e3e3e3;
  -webkit-box-shadow: 0 2px 0 #e3e3e3;
  box-shadow: 0 2px 0 #e3e3e3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 18, ../../sass/ui/CardItemView.scss */
.CardItemView > * {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 22, ../../sass/ui/CardItemView.scss */
.CardItemView header h2 {
  text-align: left;
}
/* line 24, ../../sass/ui/CardItemView.scss */
.CardItemView header h2 span {
  color: #999999;
}
/* line 30, ../../sass/ui/CardItemView.scss */
.CardItemView.modalIn {
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  transform: scale(5);
}
/* line 31, ../../sass/ui/CardItemView.scss */
.CardItemView.modalIn > * {
  -moz-transform: translateY(-50%) scale(0.1);
  -ms-transform: translateY(-50%) scale(0.1);
  -webkit-transform: translateY(-50%) scale(0.1);
  transform: translateY(-50%) scale(0.1);
  opacity: 0;
}
