/* line 7, ../../sass/ui/CardItemView.scss */
.CardItemView {
  text-align: center;
  font-weight: 400;
  background: #eeeded;
  font-size: 13px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 0 #e3e3e3;
  -webkit-box-shadow: 0 2px 0 #e3e3e3;
  box-shadow: 0 2px 0 #e3e3e3;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 19, ../../sass/ui/CardItemView.scss */
.CardItemView > * {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 22, ../../sass/ui/CardItemView.scss */
.CardItemView header {
  margin-bottom: 15px;
}
/* line 24, ../../sass/ui/CardItemView.scss */
.CardItemView header h2 {
  text-transform: uppercase;
  color: #6563a4;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
}
/* line 30, ../../sass/ui/CardItemView.scss */
.CardItemView header h2 span {
  margin-left: 6px;
  color: #999999;
}
/* line 36, ../../sass/ui/CardItemView.scss */
.CardItemView label {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 20px;
  color: #999999;
}
/* line 42, ../../sass/ui/CardItemView.scss */
.CardItemView.modalIn {
  z-index: 2;
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -webkit-transform: scale(10);
  transform: scale(10);
}
/* line 44, ../../sass/ui/CardItemView.scss */
.CardItemView.modalIn > * {
  opacity: 0;
}
