/* line 10, ../../sass/ui/CardCollectionView.scss */
.CardCollectionView li {
  text-align: center;
  font-weight: 700;
  background: #eeeded;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
/* line 21, ../../sass/ui/CardCollectionView.scss */
.CardCollectionView li.modal {
  position: absolute;
}
