/* line 7, ../../sass/ui/forms.scss */
.formCardItems {
  display: block;
  width: 100%;
}
/* line 11, ../../sass/ui/forms.scss */
.formCardItems > li {
  display: table;
  text-align: left;
}
/* line 15, ../../sass/ui/forms.scss */
.formCardItems > li > * {
  padding: 8px 0 5px;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
  margin-right: 10px;
}
/* line 22, ../../sass/ui/forms.scss */
.formCardItems > li > *:last-child {
  margin-right: 0;
}
/* line 28, ../../sass/ui/forms.scss */
.formCardItems > li.twoCol > *:last-child input {
  text-align: right;
}

/* line 35, ../../sass/ui/forms.scss */
.formItem {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
/* line 39, ../../sass/ui/forms.scss */
.formItem label {
  text-transform: none !important;
  font-size: inherit !important;
}

/* line 45, ../../sass/ui/forms.scss */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
/* line 50, ../../sass/ui/forms.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #d4d4d4;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 58, ../../sass/ui/forms.scss */
input[type=range]:focus {
  outline: none;
}
/* line 65, ../../sass/ui/forms.scss */
input[type=range]::-webkit-slider-thumb {
  border: none;
  width: 32px;
  height: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d667cd;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.4);
  box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.4);
  margin-top: -16px;
}

/* todo : inferior vendors
input[type=range]::-moz-range-thumb {
}
input[type=range]::-ms-track {
}
input[type=range]::-ms-fill-lower {
}
input[type=range]::-ms-fill-upper {
}
input[type=range]::-ms-thumb {
}
input[type=range]:focus::-ms-fill-lower {
}
input[type=range]:focus::-ms-fill-upper {
}
*/
/* line 96, ../../sass/ui/forms.scss */
input[type="text"], select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  color: #666666;
  border: none;
  padding: 0;
  width: 100%;
  outline: none;
}
/* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-moz-placeholder, select:-moz-placeholder {
  color: #999999;
}
/* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-moz-placeholder, select::-moz-placeholder {
  color: #999999;
}
/* line 67, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #999999;
}
/* line 56, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #999999;
}

/* line 112, ../../sass/ui/forms.scss */
select {
  background-image: url("/img/icon-arrow-down-gray4.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  -moz-background-size: auto 25px;
  -o-background-size: auto 25px;
  -webkit-background-size: auto 25px;
  background-size: auto 25px;
}
/* line 118, ../../sass/ui/forms.scss */
select option:disabled {
  color: #999999;
}
