/* line 7, ../../sass/ui/icons.scss */
.icon {
  width: 20px;
  height: 20px;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 14, ../../sass/ui/icons.scss */
.icon-menu {
  background-image: url("/img/icon-menu.svg");
}

/* line 18, ../../sass/ui/icons.scss */
.icon-conversation {
  background-image: url("/img/icon-conversation.svg");
}

/* line 22, ../../sass/ui/icons.scss */
.icon-dashboard {
  background-image: url("/img/icon-dashboard.svg");
}
