/* line 7, ../../sass/ui/icons.scss */
.icon {
  width: 20px;
  height: 20px;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 15, ../../sass/ui/icons.scss */
.icon-menu {
  background-image: url("/img/icon-menu.svg");
}

/* line 19, ../../sass/ui/icons.scss */
.icon-conversation {
  background-image: url("/img/icon-conversation.svg");
}

/* line 23, ../../sass/ui/icons.scss */
.icon-dashboard {
  background-image: url("/img/icon-dashboard.svg");
}

/* line 27, ../../sass/ui/icons.scss */
.icon-x-white {
  background-image: url("/img/icon-x-white.svg");
  -moz-background-size: 80%;
  -o-background-size: 80%;
  -webkit-background-size: 80%;
  background-size: 80%;
}

/* line 32, ../../sass/ui/icons.scss */
.icon-check-white {
  background-image: url("/img/icon-check-white.svg");
  -moz-background-size: 80%;
  -o-background-size: 80%;
  -webkit-background-size: 80%;
  background-size: 80%;
}

/* line 37, ../../sass/ui/icons.scss */
.icon-smiley-sad {
  background-image: url("/img/icon-smiley-sad.svg");
  -moz-background-size: 80%;
  -o-background-size: 80%;
  -webkit-background-size: 80%;
  background-size: 80%;
}

/* line 42, ../../sass/ui/icons.scss */
.icon-smiley-happy {
  background-image: url("/img/icon-smiley-happy.svg");
  -moz-background-size: 80%;
  -o-background-size: 80%;
  -webkit-background-size: 80%;
  background-size: 80%;
}
