/* line 9, ../../sass/ui/InlineNavView.scss */
.InlineNavView {
  text-align: left;
}
/* line 11, ../../sass/ui/InlineNavView.scss */
.InlineNavView > nav {
  position: relative;
  margin-bottom: 20px;
}
/* line 15, ../../sass/ui/InlineNavView.scss */
.InlineNavView > nav li {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-right: 10px;
}
/* line 24, ../../sass/ui/InlineNavView.scss */
.InlineNavView > nav li:last-child {
  margin-right: 0;
}
/* line 30, ../../sass/ui/InlineNavView.scss */
.InlineNavView .selectionBar {
  width: 0;
  height: 3px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #6dd5c9;
  position: absolute;
  left: 0;
  bottom: 0;
}
