/* line 4, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView {
  height: 150px;
  position: relative;
  text-align: center;
  margin-bottom: 22px;
}
/* line 9, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView.mint-chart-bar-plain {
  margin: 0;
}
/* line 14, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-lines {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 20, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-lines li {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #eff2ec;
}
/* line 32, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .lines-5 li {
  height: 20%;
}
/* line 32, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .lines-4 li {
  height: 25%;
}
/* line 32, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .lines-3 li {
  height: 33.33333%;
}
/* line 32, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .lines-2 li {
  height: 50%;
}
/* line 32, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .lines-1 li {
  height: 100%;
}
/* line 38, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bar-wrapper {
  width: 85%;
  height: 100%;
  position: relative;
  bottom: 1px;
  display: inline-block;
}
/* line 47, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView.grayScale .mint-chart-bar-bars li > b i {
  opacity: 0.7;
  background: #eff2ec;
}
/* line 54, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView.nonClickable li {
  cursor: default;
  pointer-events: none;
}
/* line 57, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView.nonClickable li i {
  opacity: 0.8;
}
/* line 60, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView.nonClickable li label {
  color: #eeeded;
}
/* line 67, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: table;
  border-collapse: collapse;
}
/* line 77, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li {
  display: table-cell;
  margin: 0 auto;
  height: 100%;
  margin: 0 2%;
  text-align: center;
  vertical-align: bottom;
  position: relative;
  line-height: 0;
  padding: 0;
}
/* line 87, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* line 94, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25%;
  background: #6dd5c9;
  width: 50%;
  height: 0;
  display: inline-block;
  vertical-align: bottom;
  opacity: 0.8;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
/* line 108, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i > aside {
  display: block;
  position: absolute;
  padding: 7px 7px 5px;
  text-align: center;
  background: #333;
  color: white;
  font-size: 12px;
  line-height: 11px;
  left: 50%;
  top: 0;
  opacity: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
/* line 124, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i > aside header {
  text-transform: uppercase;
  color: #999999;
  font-size: 11px;
}
/* line 129, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i > aside section {
  padding: 5px;
}
/* line 132, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i > aside.in {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 136, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > b i > aside:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
}
/* line 154, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li > label {
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 10px);
  font-weight: 700;
  font-size: 10px;
  color: #333;
  line-height: 15px;
  text-transform: uppercase;
}
/* line 170, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li:hover i {
  opacity: 1;
}
/* line 173, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li:hover label {
  color: #999999;
}
/* line 178, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li.selected i {
  background: #00bcd4;
  opacity: 1;
}
/* line 182, ../../sass/ui/MintChartBarView.scss */
.MintChartBarView .mint-chart-bar-bars li.selected label {
  color: #333;
}
