/* line 7, ../../sass/ui/NavBarView.scss */
.NavBarView {
  position: relative;
  background: #ad588e;
  height: 50px;
  width: 100%;
  display: block;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 2;
  white-space: nowrap;
}
/* line 16, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
/* line 20, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons.leftButtons {
  left: 30px;
}
/* line 23, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons.rightButtons {
  right: 30px;
}
/* line 25, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons.rightButtons li {
  margin-right: 10px;
}
/* line 27, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons.rightButtons li:last-child {
  margin-right: 0;
}
/* line 32, ../../sass/ui/NavBarView.scss */
.NavBarView .navBarButtons li {
  display: inline-block;
}
/* line 36, ../../sass/ui/NavBarView.scss */
.NavBarView .icon-settings {
  background-position: 8px center;
}
