@-webkit-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-moz-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-o-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
/* line 17, ../../sass/ui/UserPromptView.scss */
.UserPromptView {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #6563a4;
  display: block;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 33, ../../sass/ui/UserPromptView.scss */
.UserPromptView.in {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 55, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"], .UserPromptView button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
/* line 60, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"] {
  width: 80%;
  background: rgba(51, 51, 51, 0.3);
}
/* line 63, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"].blink {
  -webkit-animation: blinkbg 1s ease-in-out 0s infinite;
  -moz-animation: blinkbg 1s ease-in-out 0s infinite;
  -o-animation: blinkbg 1s ease-in-out 0s infinite;
  animation: blinkbg 1s ease-in-out 0s infinite;
}
/* line 67, ../../sass/ui/UserPromptView.scss */
.UserPromptView button {
  width: 20%;
  margin-left: -4px;
}
/* line 72, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices {
  width: 100%;
  white-space: nowrap;
  display: table;
}
/* line 76, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices li {
  display: table-cell;
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  white-space: normal;
  vertical-align: middle;
  font-weight: 400;
  line-height: 20px;
  background: #5f5d9a;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 91, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices.col2 li {
  width: 50%;
}
/* line 96, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices.col2 li:nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
}
/* line 99, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices.col2 li:nth-child(3) {
  background: rgba(255, 255, 255, 0.2);
}
/* line 102, ../../sass/ui/UserPromptView.scss */
.UserPromptView .userPromptChoices.col2 li:nth-child(4) {
  background: rgba(255, 255, 255, 0.3);
}
