@-webkit-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-moz-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-o-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
/* line 17, ../../sass/ui/UserPromptView.scss */
.UserPromptView {
  background: #6563a4;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 100;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 30, ../../sass/ui/UserPromptView.scss */
.UserPromptView.in {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 35, ../../sass/ui/UserPromptView.scss */
.UserPromptView .blink {
  -webkit-animation: blinkbg 1s ease-in-out 0s infinite;
  -moz-animation: blinkbg 1s ease-in-out 0s infinite;
  -o-animation: blinkbg 1s ease-in-out 0s infinite;
  animation: blinkbg 1s ease-in-out 0s infinite;
}
/* line 58, ../../sass/ui/UserPromptView.scss */
.UserPromptView select {
  color: white;
  padding: 15px;
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 65, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"], .UserPromptView input[type="date"] {
  width: 80%;
  min-height: 50px;
}
/* line 70, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"], .UserPromptView input[type="text"], .UserPromptView button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
/* line 75, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"] {
  color: white;
}
/* line 77, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"].blink {
  -webkit-animation: blinkbg 1s ease-in-out 0s infinite;
  -moz-animation: blinkbg 1s ease-in-out 0s infinite;
  -o-animation: blinkbg 1s ease-in-out 0s infinite;
  animation: blinkbg 1s ease-in-out 0s infinite;
}
/* line 82, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"] {
  background: rgba(51, 51, 51, 0.3);
  color: white;
}
/* line 86, ../../sass/ui/UserPromptView.scss */
.UserPromptView button {
  width: 20%;
  margin-left: -4px;
}
/* line 91, ../../sass/ui/UserPromptView.scss */
.UserPromptView .unitTypeSection {
  display: table;
  width: 100%;
}
/* line 95, ../../sass/ui/UserPromptView.scss */
.UserPromptView .unitTypeSection > * {
  display: table-cell;
  width: 40%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -4px;
}
/* line 100, ../../sass/ui/UserPromptView.scss */
.UserPromptView .unitTypeSection > *.buttonWrap {
  width: 20%;
}
/* line 102, ../../sass/ui/UserPromptView.scss */
.UserPromptView .unitTypeSection > *.buttonWrap button {
  width: 100%;
}
/* line 106, ../../sass/ui/UserPromptView.scss */
.UserPromptView .unitTypeSection > * input[type="text"] {
  width: 100%;
}
