@-webkit-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-moz-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@-o-keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
@keyframes blinkbg {
  0%, 100% {
    background: rgba(51, 51, 51, 0.3);
  }
  50% {
    background: rgba(51, 51, 51, 0.1);
  }
}
/* line 17, ../../sass/ui/UserPromptView.scss */
.UserPromptView {
  background: #6563a4;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  z-index: 100;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 31, ../../sass/ui/UserPromptView.scss */
.UserPromptView.in {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 54, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"], .UserPromptView input[type="date"] {
  width: 80%;
}
/* line 58, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"], .UserPromptView input[type="text"], .UserPromptView button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
/* line 63, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"] {
  color: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
}
/* line 70, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="date"].blink {
  -webkit-animation: blinkbg 1s ease-in-out 0s infinite;
  -moz-animation: blinkbg 1s ease-in-out 0s infinite;
  -o-animation: blinkbg 1s ease-in-out 0s infinite;
  animation: blinkbg 1s ease-in-out 0s infinite;
}
/* line 75, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"] {
  background: rgba(51, 51, 51, 0.3);
  color: white;
}
/* line 78, ../../sass/ui/UserPromptView.scss */
.UserPromptView input[type="text"].blink {
  -webkit-animation: blinkbg 1s ease-in-out 0s infinite;
  -moz-animation: blinkbg 1s ease-in-out 0s infinite;
  -o-animation: blinkbg 1s ease-in-out 0s infinite;
  animation: blinkbg 1s ease-in-out 0s infinite;
}
/* line 82, ../../sass/ui/UserPromptView.scss */
.UserPromptView button {
  width: 20%;
  margin-left: -4px;
}
