@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// View: CardItemView
////////////////////////////////////////////////////////////////////
.CardItemView{
	text-align: center;
	font-weight: $fontWeightMed; 
	background: $gray2;
	font-size: 13px;
	padding: $CardItemViewMargins;
	margin-bottom: 10px;
	position: relative;
	@include box-sizing(border-box);
	@include border-radius(2px);
	@include box-shadow(0 2px 0 $gray2_3);
	@include single-transition(all, 0.3s, ease-in-out);
	> *{
		@include single-transition(all, 0.3s, ease-in-out);
	}
	header{
		margin-bottom: 15px;
		h2{ 
			text-transform: uppercase;
			color: $purple2;
			font-weight: $fontWeightBold;
			font-size: 13px;
			text-align: left;
			span{
				margin-left: 6px;
				color: $gray4;
			}
		}
	}
	label{
		font-size: 11px;
		text-transform: uppercase;
		line-height: 20px;
		color: $gray4;
	}
	&.modalIn{
		z-index: 2;
		> *{
			opacity: 0;
		}
		@include transform(scale(10));
	}
}