@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// View: CardDetailView
////////////////////////////////////////////////////////////////////
.CardDetailView{
	background: $gray2;
	@include sq(100%);
	position: absolute;
	top: 0;
	left: 0;
}