@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// View: FormCardItemView
////////////////////////////////////////////////////////////////////
.CardItemView{
	&.FormCardItemView{
		select{
			direction: rtl;
			padding-right: 30px;
		}
	}
}
.formCardItems{
	li{
		&:last-child{
			.formItem{
				margin-bottom: 0;
			}
		}
	}
}