@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// Forms
////////////////////////////////////////////////////////////////////
.formCardItems {
	display: block;
	width: 100%;

	> li {
		display: table;
		text-align: left;

		> * {
			padding: 8px 0 5px;
			vertical-align: middle;
			text-align: left;
			display: table-cell;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
		&.twoCol {
			> *:last-child {
				input {
					text-align: right;
				}
			}
		}
	}
}
.formItem {
	width: 100%;
	border-bottom: 1px solid $gray3;

	label {
		text-transform: none !important;
		font-size: inherit !important;
	}
}
// Range slider
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 13.8px 0;

	&::-webkit-slider-runnable-track{
		width: 100%;
		height: 1px;
		cursor: pointer;
		background: $gray3;
		@include border-radius(50%);
	}
 
	&:focus {
		outline: none;
		&::-webkit-slider-runnable-track {
			// background: $gray5;
		}
	}

	&::-webkit-slider-thumb {
		$s: 32px;
		border: none;
		@include sq($s);
		@include border-radius(50%);
		background: $pink2;
		cursor: pointer;
		-webkit-appearance: none;
		@include box-shadow(1px 1px 1px rgba($gray5, 0.4));
		margin-top: -$s/2;
	}

}

/* todo : inferior vendors
input[type=range]::-moz-range-thumb {
}
input[type=range]::-ms-track {
}
input[type=range]::-ms-fill-lower {
}
input[type=range]::-ms-fill-upper {
}
input[type=range]::-ms-thumb {
}
input[type=range]:focus::-ms-fill-lower {
}
input[type=range]:focus::-ms-fill-upper {
}
*/

input[type="text"], input[type="date"], select  {
	@include appearance(none);
	@include box-sizing(border-box);
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: $gray5;
	border: none;
	padding: 0;
	width: 100%;
	outline: none;

	@include input-placeholder {
		color: $gray4;
	}
}

select {
	background-image: url("#{$imgs}icon-arrow-down-gray4.svg");
	background-repeat: no-repeat;
	background-position: 90% center;
	@include background-size(auto 25px);

	option:disabled {
		color: $gray4;
	}
}