@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// Icons
////////////////////////////////////////////////////////////////////
.icon{
	@include sq(20px);
	@include background-size(100%);
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}

.icon-menu{
	background-image: url("#{$imgs}icon-menu.svg");
}

.icon-conversation{
	background-image: url("#{$imgs}icon-conversation.svg");
}

.icon-dashboard{
	background-image: url("#{$imgs}icon-dashboard.svg");
}

.icon-x-white{
	background-image: url("#{$imgs}icon-x-white.svg");
	@include background-size(80%);
}

.icon-check-white{
	background-image: url("#{$imgs}icon-check-white.svg");
	@include background-size(80%);
}