@import "compass/css3";
@import "_base";

.MintChartBarView{
	height: 150px;
	position: relative;  
	text-align: center;
	margin-bottom: 22px;
	&.mint-chart-bar-plain{
		margin: 0;
	} 

	// Lines
	.mint-chart-bar-lines{
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		li{
			width: 100%;
			height: 100%;
			// background: white; 
			@include box-sizing(border-box);
			border-bottom: 1px solid $gray1;
		}
	}

	// Add more lines if needed
	$lines: 5;
	@while $lines > 0 {
	  .lines-#{$lines} li{ 
	  	height: (100 / $lines) * 1%; 
	  }
	  $lines: $lines - 1;
	}

	.mint-chart-bar-bar-wrapper{
		width: 85%; 
		height: 100%;
		position: relative;
		bottom: 1px;
		display: inline-block;
	}

	&.grayScale{
		.mint-chart-bar-bars li > b i{
			opacity: 0.7;
			background: $gray1;
		}
	}

	&.nonClickable{
		li{
			cursor: default;
			pointer-events: none;
			i{
				opacity: 0.8;
			}
			label{
				color: $gray2;
			}
		}
	}

	// bars
	.mint-chart-bar-bars{
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		white-space: nowrap;
		display: table;
		border-collapse: collapse;

		li{
			display: table-cell;
			margin: 0 auto;
			height: 100%;
			margin: 0 2%;
			text-align: center;
			vertical-align: bottom;
			position: relative;
			line-height: 0;
			padding: 0;
			> b{
				width: 100%;
				height: 100%;
				display: inline-block;
				// overflow: hidden;
				position: relative;
				cursor: pointer;
				i{
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -25%;
					background: $green2;
					width: 50%;
					height: 0;
					display: inline-block;
					vertical-align: bottom;
					opacity: 0.8;
					@include single-transition(height, 0.5s, ease-in-out);

					// The tooltips
					> aside{
						display: block;
						position: absolute;
						padding: 7px 7px 5px;
						text-align: center;
						background: $gray6;
						color: white;
						font-size: 12px;
						line-height: 11px;
						left: 50%;
						top: 0;
						// margin-top: calc(-100% - 15px);
						opacity: 0;
						@include border-radius(3px);
						@include transition(transform 0.3s ease-in-out, opacity 0.3s ease-in-out);
						@include transform(translateY(50%));
						header{
							text-transform: uppercase;
							color: $gray4;
							font-size: 11px;
						}
						section{
							padding: 5px;
						}
						&.in{
							opacity: 1;
							@include transform(translateY(0));
						}
						&:after{
							content: "";
							position: absolute;
							left: 50%;
							margin-left: -6px;
							bottom: -7px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 7px 6px 0 6px;
							border-color: $gray6 transparent transparent transparent;

						}
					}

				}
			}

			> label{
				overflow: hidden;
				text-overflow: ellipsis;
				position: absolute;
				width: 100%;
				left: 0;
				top: calc(100% + 10px);
				font-weight: $fontWeightBold;
				font-size: 10px;
				color: $gray6;
				line-height: 15px;
				text-transform: uppercase;
			}


			&:hover{
				i{
					opacity: 1;
				}
				label{
					color: $gray4;
				}
			}
			&.selected{
				i{
					background: $blue3;
					opacity: 1;
				}
				label{
					color: $gray6;
				}
			}

		}
	}

}