@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// View: NavBarView
////////////////////////////////////////////////////////////////////
.NavBarView{
	position: relative;
	background: $NavBarViewColor;
	height: $NavBarViewHeight;
	width: 100%; 
	display: block;
	@include box-shadow(0 0 3px rgba(black,0.5));
	z-index: 2;
	white-space: nowrap;
	.navBarButtons{
		position: absolute;
		top: 50%;
		margin-top: -10px;
		&.leftButtons{
			left: $mainMargins;
		}
		&.rightButtons{
			right: $mainMargins;
			li{
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
		li{
			display: inline-block;
		}
	} 
	.icon-settings{
		background-position: 8px center;
	}
}