@import "compass/css3";
@import "_base";

////////////////////////////////////////////////////////////////////
// View: PaletteView
////////////////////////////////////////////////////////////////////
.PaletteView{
	position: fixed;
	left: 10%;
	top: 15%;
	@include sq(100px);
	z-index:  0;

	@include single-transition(all, 0.5s, ease-in-out);
	@media screen and (max-width: 400px) {
		left: -200%;
	}

	li{
		margin-left: 5px;
		margin-top: 7px;
		display: inline-block;
		@include sq(20px);
		border: 4px solid rgba(0,0,0,0.1);
	}
}