@import "compass/css3";
@import "_base";

@include keyframes(blinkbg) {
	0%, 100%{
		background: rgba($gray6, 0.3);
	}
	50%{
		background: rgba($gray6, 0.1);
	}
}


////////////////////////////////////////////////////////////////////
// View: UserPromptView
////////////////////////////////////////////////////////////////////
.UserPromptView{
	$collapsedSize: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: $purple2; 
	display: block; 
	width: 100%;
	z-index: 2;
	text-transform: uppercase;
	font-size: 12px;
	// height: $UserPromptViewHeight;
	text-align: center;  
	@include box-sizing(border-box); 
	@include single-transition(all, 0.1s, ease-in-out);
	@include transform(translateY(100%));
	&.in{
		@include single-transition(all, 0.5s, ease-in-out);
		@include transform(translateY(0));
	} 
	// &.send{ 
	// 	overflow: hidden;
	// 	margin-top: -$collapsedSize/2;
	// 	bottom: -$collapsedSize;
	// 	@include sq($collapsedSize);
	// 	@include border-radius(50%);
	// 	@include single-transition(all, 0.3s, ease-in-out);
	// 	background: white;
	// 	// opacity: 0;
	// 	border: 1px solid $gray2;
	// 	li{
	// 		width: 0;
	// 		overflow: hidden;
	// 		opacity: 0;
	// 		cursor: default;
	// 		background: white;
	// 	}
	// }
	input[type="text"], button{
		@include box-sizing(border-box);
		padding: 15px;
	}

	input[type="text"]{
		width: 80%;
		background: rgba($gray6, 0.3);
		&.blink{
			@include animation(blinkbg 1s ease-in-out 0s infinite);
		}
	}
	button{
		width: 20%;
		margin-left: -4px;
	}

	.userPromptChoices{
		width: 100%;
		white-space: nowrap;
		display: table;
		li{
			display: table-cell;
			padding: 20px 10px;
			cursor: pointer;
			text-align: center;
			color: white;
			white-space: normal;
			vertical-align: middle;
			font-weight: $fontWeightMed;
			line-height: 20px;
			background: $purple3;
			@include box-sizing(border-box);
			@include single-transition(all, 0.3s, ease-in-out);
		}
		&.col2{ 
			li{
				width: 50%;
				&:first-child{

				}
				&:nth-child(2){ 
					background: rgba(255,255,255, 0.1)
				}
				&:nth-child(3){ 
					background: rgba(255,255,255, 0.2)
				}
				&:nth-child(4){ 
					background: rgba(255,255,255, 0.3)
				}
			}
		}
	}
}