@import "compass/css3";
@import "_base";

@include keyframes(blinkbg) {
	0%, 100%{
		background: rgba($gray6, 0.3);
	}
	50%{
		background: rgba($gray6, 0.1);
	}
}


////////////////////////////////////////////////////////////////////
// View: UserPromptView
////////////////////////////////////////////////////////////////////
.UserPromptView{
	$collapsedSize: 30px;
	background: $purple2;
	position: absolute;
	right: 0;
	bottom: 0;
	display: block; 
	width: 100%;
	z-index: 100;
	text-align: center;  
	@include box-sizing(border-box); 
	@include single-transition(all, 0.1s, ease-in-out);
	@include transform(translateY(100%));
	&.in{
		@include single-transition(all, 0.5s, ease-in-out);
		@include transform(translateY(0));
	} 

	.blink{
		@include animation(blinkbg 1s ease-in-out 0s infinite);
	}

	// &.send{ 
	// 	overflow: hidden;
	// 	margin-top: -$collapsedSize/2;
	// 	bottom: -$collapsedSize;
	// 	@include sq($collapsedSize);
	// 	@include border-radius(50%);
	// 	@include single-transition(all, 0.3s, ease-in-out);
	// 	background: white;
	// 	// opacity: 0;
	// 	border: 1px solid $gray2;
	// 	li{
	// 		width: 0;
	// 		overflow: hidden;
	// 		opacity: 0;
	// 		cursor: default;
	// 		background: white;
	// 	}
	// }

	select{
		color: white;
	    padding: 15px;
	    width: 100%;
	    @include border-radius(0);
	}

	input[type="text"],input[type="date"]{
		width: 80%;
		min-height: $UserPromptViewHeight;
	}

	input[type="date"], input[type="text"], button{
		@include box-sizing(border-box);
		padding: 15px;
	}

	input[type="date"]{
		color: white;
		@include appearance(none);
		@include box-sizing(border-box);
		@include border-radius(0);
		margin: 0;
		background: transparent;
		border: none;
		outline: none;		
		&.blink{
			@include animation(blinkbg 1s ease-in-out 0s infinite);
		}
	}

	input[type="text"]{
		background: rgba($gray6, 0.3);
		color: white;
	}
	button{
		width: 20%;
		margin-left: -4px;
	}

	.unitTypeSection{
		display: table;
		width: 100%;
		$w: 20%;
		> *{
			display: table-cell;
			width: (100% - $w)/2;	
			@include box-sizing(border-box);
			margin-left: -4px;
			&.buttonWrap{
				width: 	$w;
				button{
					width: 100%;
				}
			}
			input[type="text"]{
				width: 100%;
			}
		}
	}
}